.BasicText {
    font-family: 'Open Sans Condensed',sans-serif;
}

.ProtfolioHeader {
}

.ProtfolioContainer {
    float: none;
}

.HeaderLeftContainer {
    float: left;
}

.HeaderRightContainer {
    float: right;
}

.TotalValueDetails {
    @extend .BasicText;
    margin-top: 10px;
    margin-left: 10px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

.TotalValue {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.Change24Details {
    @extend .BasicText;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

.Change24Text {
    margin-top: 5px;
    font-size: 20px;
    font-weight: bold;
}

.greenText {
    color: #32e948;
}

.redText {
    color: #E93333;
}


.ColumnHeader {
    background-color: #488aff;
    color: rgb(255, 255, 255);
}

.Row {
    text-align: center;
    border-bottom: 1px solid #e5e5e6;
}



.CoinSymbol {
    @extend .BasicText;
    font-weight: bold;
    margin-top: 5px;
}

.CoinPrice {
    @extend .CoinSymbol;
}

.CoinAmount {
    @extend .CoinSymbol;
    font-weight: normal;
}

.Change24 {
    @extend .BasicText;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
}

.AddCoin {
    display:table;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;
}



body {
}
